@use "../../../styles/mixins";
@use "../../../styles/tokens";

.menu-toggle {
  position: relative;
  z-index: 2;

  display: none;

  width: tokens.$size-4;
  height: tokens.$size-4;
  padding: tokens.$btn-icon;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: tokens.$size-05 - tokens.$border-width-medium;

  background-color: tokens.$white;
  border: 0;
  border-radius: tokens.$corner-small;

  cursor: pointer;

  &::before {
    position: absolute;
    inset: 0;

    border: tokens.$border-width-medium solid tokens.$on-primary;
    border-radius: inherit;

    content: "";
    pointer-events: none;
  }

  &__line {
    width: tokens.$size-2;
    height: tokens.$border-width-medium;

    background-color: tokens.$on-primary;

    transition:
      transform tokens.$transition-duration-medium ease,
      opacity tokens.$transition-duration-medium ease,
      background-color tokens.$transition-duration-medium ease;
  }

  &--open {
    background-color: tokens.$bg-footer-low;

    &::before {
      opacity: 0;
    }

    .menu-toggle__line {
      background-color: tokens.$white;

      &:nth-child(1) {
        transform: translateY(tokens.$size-05) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }

  @include mixins.tablet {
    display: flex;
  }

  @include mixins.mobile {
    &__line {
      width: tokens.$menu-line-mobile-width;
    }
  }
}
