@use "../../styles/mixins";
@use "../../styles/tokens";

.library-game-list {
  padding-inline: tokens.$size-15;

  &__items {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: tokens.$size-3;

    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: tokens.$library-game-card-grid-breakpoint) {
  .library-game-list__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include mixins.tablet {
  .library-game-list {
    padding-inline: tokens.$size-5;
  }
}

@media (max-width: tokens.$library-game-card-stacked-breakpoint) {
  .library-game-list {
    padding-inline: tokens.$size-2;
  }

  .library-game-list__items {
    gap: tokens.$size-2;
  }
}
