@use "tokens";

@mixin mobile {
  @media (max-width: tokens.$breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: tokens.$breakpoint-tablet) {
    @content;
  }
}

@mixin limit-layout-width {
  width: 100%;
  max-width: tokens.$layout-max-width;
  margin-inline: auto;
}


@mixin responsive-inline-padding($desktop) {
  padding-inline: $desktop;

  @include tablet {
    padding-inline: tokens.$size-5;
  }

  @include mobile {
    padding-inline: tokens.$size-2;
  }
}