// Colors
$white: #ffffff;
$black: #000000;

$bg: #f9f8f3;
$on-bg: #5f5d75;
$on-bg-low: #737380;
$bg-footer: #1e1b3a;
$bg-footer-low: #2a264f;
$bg-footer-lowest: #3c376e;
$on-bg-footer: #b9b5c9;
$surface: #fff9e5;
$surface-low: #fffcf5;
$primary: #ffd02b;
$primary-low: #fde047;
$primary-high: #e5bb00;
$on-primary: #242145;
$secondary: #f0eeff;
$tertiary: #3a2ebf;
$like: #ff4b4b;
$error: #b3261e;
$price-free: #0b8a8f;

// Borders
$outline: #e5e7eb;
$outline-variant: #d2d2d2;

// Additional
$avatar-random-1: #e9eef6;
$avatar-random-2: #a3e2c9;
$avatar-random-3: #bce3ff;
$avatar-random-4: #ffc6ff;
$avatar-random-5: #e8dff5;

// Size
$display-large: 56px;
$display-medium: 36px;
$display-small: 24px;

$headline-large: 32px;
$headline-medium: 24px;
$headline-small: 20px;

$body-large: 18px;
$body-medium: 16px;
$body-small: 14px;

$label-extra-large: 16px;
$label-large: 14px;
$label-medium: 12px;
$label-small: 10px;

$title-xx-small: 16px;

// Weight
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;

// Font-family
$Inter: "Inter", sans-serif;
$Roboto: "Roboto", sans-serif;

// Size
$size-05: 4px;
$size-1: 8px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;
$size-7: 56px;
$size-8: 64px;
$size-9: 72px;
$size-10: 80px;
$size-11: 88px;
$size-12: 96px;
$size-13: 104px;
$size-14: 112px;
$size-15: 120px;

// Corner
$corner-extra-small: 4px;
$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-extra-large: 24px;
$corner-full: 9999px;

// Button
$btn-large-x: 24px;
$btn-large-y: 16px;

$btn-medium-x: 20px;
$btn-medium-y: 10px;

$btn-small-x: 16px;
$btn-small-y: 8px;

$btn-icon: 8px;

// Shadow
$level-1: 4px 4px 0 0 $on-primary;
$level-2: 6px 6px 0 0 $on-primary;
$level-3: 8px 8px 0 0 $on-primary;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$layout-max-width: 1920px;

// Border
$border-width-medium: 2px;

// Menu toggle
$menu-line-mobile-width: 14px;

// Transition
$transition-duration-medium: 250ms;
