@use "../../../styles/tokens";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: tokens.$on-primary;

  font-size: tokens.$label-large;
  font-weight: tokens.$bold;
  line-height: normal;

  border: 0;
  border-radius: tokens.$corner-small;

  box-shadow: inset 0 0 0 2px tokens.$on-primary;

  cursor: pointer;
  white-space: nowrap;

  &--small {
    padding: tokens.$btn-small-y tokens.$btn-small-x;
  }

  &--medium {
    padding: tokens.$btn-medium-y tokens.$btn-medium-x;
  }

  &--large {
    padding: tokens.$btn-large-y tokens.$btn-large-x;
  }

  &--outlined {
    background-color: transparent;

    &:hover {
      background-color: tokens.$surface;
    }
  }

  &--filled {
    background-color: tokens.$primary;

    &:hover {
      background-color: tokens.$primary-high;
    }
  }
}
