@use "../../styles/mixins";
@use "../../styles/tokens";

.library-page {
  background-color: tokens.$bg;

  &__intro {
    @include mixins.responsive-inline-padding(tokens.$size-15);

    display: flex;
    flex-direction: column;
    gap: tokens.$size-1;

    padding-block: tokens.$size-5;
  }

  &__intro h1,
  &__intro p {
    margin: 0;
  }

  &__intro h1 {
    color: tokens.$on-primary;
    font-size: tokens.$display-large;
    font-weight: tokens.$bold;
    line-height: normal;
  }

  &__intro p {
    color: tokens.$on-bg;
    font-size: tokens.$body-large;
    font-weight: tokens.$medium;
    line-height: normal;
  }
}

@include mixins.tablet {
  .library-page__intro {
    padding-block: tokens.$size-3;
  }

  .library-page__intro h1 {
    font-size: tokens.$display-medium;
  }

  .library-page__intro p {
    font-size: tokens.$body-medium;
  }
}

@include mixins.mobile {
  .library-page__intro {
    padding-block: tokens.$size-2;
  }

  .library-page__intro h1 {
    font-size: tokens.$display-small;
  }

  .library-page__intro p {
    font-size: tokens.$body-small;
  }
}
